{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-dark text-center pt-5" style="height: 100vh;">
    <div class="container">
        <h1 class="display-1 pt-5 font-weight-bold">404</h1>
        <h1 class="display-4 pt-1 pb-3">Página no encontrada</h1>
        <h3 class="font-weight-light text-secondary">La pagina que estas buscando probablemente fue  <br> removida</h3>
        <a href="{% url 'home' %}" class="btn btn-info mt-3 pt-3 pb-3 pr-4 pl-4">Regresar</a>
    </div>
</div>

{% endblock content %}