{% load static %}

<header>
  <div class="d-flex p-3 px-md-4 mb-4 bg-dart border-bottom shadow-sm ">
    
    <!--Medium-->
    <div class= "d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center ">
        <h5 class="mr-3 font-weight-normal justify-content-start " >
            <a class = "p-2 navbar-brand text-white" href="{% url 'home' %}">Mini Chat</a>
        </h5>
        
        <div class="d-flex flex-row-reverse flex-grow-1" >
            <nav>
                {% if request.user.is_authenticated %}
                    <div class="dropdown dropleft show p-2">
                        <!-- <div class="btn-group dropleft">
                            <button 
                            type="button" class="btn btn-success rounded-circle  dropdown-togle"
                            id="id_chat_notification_dropdown_toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            >
                                <i class="fas fa-comment-dots"></i> <span class="badge position-absolute top-0 left-100 translate-middle bg-secondary">9</span>
                                <span class="visually-hidden">unread messages</span>
                            </button>
                            <div class="dropdown-menu scrollable-menu" 
                            aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notification_container">

                            </div>
                        </div> -->

                        <div class="btn-group dropleft">
                            <h5 class="p-4" >{{request.user.username}}</h5>
                            <img class="account-image rounded-circle m-auto d-block dropdown-togle"  
                            id="id_profile_links"  data-bs-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false" src="{{request.user.profile_image.url}}" alt="Konodioda" 
                            width="80" height="80">
                            <div class="dropdown-menu" aria-labelledby="id_profile_links">
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'login' %}">Iniciar sesión</a>
                    <a class="btn btn-outline-primary" href="{% url 'register' %}">Registrate</a>
                {% endif %}
            </nav>
        </div>
    </div>
    <!--Small-->
    <!-- <div class="d-flex d-md-none flex-column my-auto align-items-center "> -->
    <div class="d-md-none d-flex flex-row my-auto flex-grow-1 ">

        <div class="d-flex flex-row-reverse flex-grow-1 align-items-center justify-content-center" >
            <nav>
                {% if request.user.is_authenticated %}
                    
                    <div class="dropdown dropleft p-2 mt-2">
                        <span class="p-1" >{{request.user.username}}</span>
                        <div class="btn-group dropleft">
                            
                            <img class="account-image rounded-circle m-auto d-block dropdown-togle"  
                            id="id_profile_links"  data-bs-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false" src="{{request.user.profile_image.url}}" alt="Konodioda" 
                            width="40" height="40">
                            <div class="dropdown-menu" aria-labelledby="id_profile_links">
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <a class="btn btn-secondary" href='#'>Login</a>
                    <a class="btn btn-outline-primary m-2" href='#'>Register</a>
                {% endif %}
            </nav>
        </div>
    </div>

  </div>
</header>